<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sign-up.css">
    <title>log in</title>
</head>
<body>
  <div class="sign-up">
    <h4 style="margin-top: 40px;">please log in</h4>
    <form action="/log-in" method="POST">
      <li>
          <label for="username">Username</label>
          <input id="username" name="username" placeholder="username" type="text" />
      </li>
      <li>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" />
      </li>
      <button type="submit">Log In</button>
    </form>
    <button style="margin-left: 20px;">    
      <a href="/">home</a>
    </button>
  </div>


  
</body>
</html>