<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
    <link rel="stylesheet" href="sign-up.css">
</head>
<body>
    <div class="sign-up">
       
        <h1>telex club</h1>
        <h3>Sign Up</h3>
         <%- include("partials/errors.ejs") %>
        <div style="color: aliceblue; margin: 20px;">
            <% if (!locals.errors) {%>
            <ul style="font-size: 0.9rem;">
                <li>username should be an email address maximum 30 characters</li>
                <li>password must be between 1 and 10 characters</li>
            </ul>
            <% } %>
        </div>
            <form action="/sign-up" method="POST">
                <li>
                    <p style="color: red;"><%= locals.exist %></p>
                </li>
                <li>
                    <label for="firstname">First name</label>
                    <input id="firstname" name="firstname"type="text" />
                </li>
                <li>
                    <label for="lastname">Last name</label>
                    <input id="lastname" name="lastname" type="text" />
                </li>
                <li>
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" />
                </li>
                <li>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" />
                </li>
              <button type="submit" style="margin-top: 20px;">Sign Up</button>
            </form>
        <button style="margin-left: 20px;">    
            <a href="/">home</a>
        </button>
    </div>
    
</body>
</html>