body{
    padding: 0px;
    margin: 0px;
    font-size: 18px;

}
.sign-up{
    background-color: rgb(29, 23, 58);
    max-width: 600px;
    margin: auto;
    margin-top: 0px;
    color: white;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.letter{
    text-align: center;
    font-size: 2.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    font-weight: 700;
    color: aliceblue;
    background-color: rgb(9, 121, 67);
}

h1{
    text-align: center;
    margin-top: 40px;
}
h3{
    margin: 5px;
}
form{
    margin: 10px;
}
li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px;
    margin-right: 5px;
    max-width: 350px;
    
}
label{
    width: 80px;
    margin-right: 5px;
    font-size: 0.95rem;

}
input{
    width: 250px;
    font-size: 1rem;
}
button{
    margin: 10px;
    font-size: 1rem;
}
a{
    font-size: 1.1rem;
    text-decoration: none;
}
