body{
    padding: 0px;
    margin: 0px;
    font-size: 20px;

}
.sign-up{
    background-color: rgb(29, 23, 58);
    max-width: 600px;
    margin: auto;
    margin-top: 0px;
    color: white;
    padding: 10px;
}
h1{
    text-align: center;
    margin-top: 40px;
}
h3{
    margin: 5px;
}
form{
    margin: 10px;
}
li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px;
    max-width: 340px;
    
}
label{
    width: 90px;
}
input{
    width: 250px;
    font-size: 1rem;
}
button{
    margin: 10px;
    font-size: 1rem;
}
a{
    font-size: 1.1rem;
    text-decoration: none;
}
